<script setup lang="ts">
import { useI18n } from "vue-i18n";
import { useColumns } from "@/views/broadcast/video/columns";

defineOptions({
  name: "BroadcastVideo"
});
const { columns, tableData } = useColumns();
const { t } = useI18n();
</script>

<template>
  <div class="dark:text-white">
    <p>{{ t("menus.broadcastVideo") }}</p>
    <pure-table
      :data="tableData"
      :columns="columns"
      :height="260"
      stripe
      border
    />
  </div>
</template>
