<script setup lang="ts">
import { useColumns } from "@/views/broadcast/live/columns";
import { useI18n } from "vue-i18n";
defineOptions({
  name: "BroadcastLive"
});
const { columns, tableData } = useColumns();
const { t } = useI18n();
</script>

<template>
  <div class="dark:text-white">
    <p>{{ t("menus.broadcastLive") }}</p>
    <pure-table
      :data="tableData"
      :columns="columns"
      :height="260"
      stripe
      border
    />
  </div>
</template>
